In [4]:
import os

import sqlite3
import pandas as pd

In [5]:
# Path to the root directory of datasci
dthon_path = os.path.join(os.path.expanduser('~'), 'Projects','datasci')
dthon_db = os.path.join(dthon_path, "melbourne-datathon","data","medi.db")

In [9]:
# select all patients that have ever taken diabetes medicine,
# currently focuses on only patient 2, and doesn't get chemistlistprice
conn = sqlite3.connect(dthon_db)
sql = """select
    t2.Patient_ID,
    t2.'Store_ID',
    t2.'Prescriber_ID',
    t2.'Drug_ID',
    t2.'Prescription_Week',
    t2.'Dispense_Week',
    t2.'Drug_Code',
    t2.'NHS_Code',
    t2.'PatientPrice_Amt', 
    t2.'WholeSalePrice_Amt',
    t2.'GovernmentReclaim_Amt', 
    t2.'StreamlinedApproval_Code', 
    -- t2.'ChemistListPrice',
    p.year_of_birth,
    p.postcode,
    p.gender,
    exists(
        select 1
        where t2.Drug_ID IN (
            select c2.MasterProductID
            from ChronicIllness_LookUp c2
            where c2.ChronicIllness = 'Diabetes'
        )
    ) as is_diabetes_medication

from TRANSACTIONS t2
join patients p on t2.Patient_ID = p.Patient_ID
where t2.Patient_ID = 2
and t2.Patient_ID IN (
    select t.Patient_ID from TRANSACTIONS t
    where t.Drug_ID in (
        select c.MasterProductID
        from ChronicIllness_LookUp c
        where c.ChronicIllness = 'Diabetes'
    )
    group by t.Patient_ID -- Yeilds all patients that have ever taken db medi
);
"""

df = pd.read_sql_query(sql, conn)

In [11]:
# Just Patient 2
df.head(9)

,Patient_ID,Store_ID,Prescriber_ID,Drug_ID,Prescription_Week,Dispense_Week,Drug_Code,NHS_Code,PatientPrice_Amt,WholeSalePrice_Amt,GovernmentReclaim_Amt,StreamlinedApproval_Code,year_of_birth,postcode,gender,is_diabetes_medication
0,2,65,10206,3228,2010-12-05,2011-01-09,EZET1,8757X,5.6,58.68,65.37,,1935,3042,F,0
1,2,65,10206,3228,2010-12-05,2011-02-13,EZET1,8757X,5.6,58.68,65.37,,1935,3042,F,0
2,2,65,10206,3228,2010-12-05,2011-03-20,EZET1,8757X,5.6,58.68,65.37,,1935,3042,F,0
3,2,65,10206,4540,2011-01-23,2011-03-20,KARV4,8404H,5.6,18.22,21.77,,1935,3042,F,0
4,2,65,0,3863,2010-08-08,2011-04-17,GLYA1,2449X,5.6,5.86,7.56,,1935,3042,F,1
5,2,65,10206,4540,2011-01-23,2011-04-17,KARV4,8404H,5.6,18.22,21.77,,1935,3042,F,0
6,2,65,10206,4540,2011-01-23,2011-05-22,KARV4,8404H,5.6,18.22,21.77,,1935,3042,F,0
7,2,65,10206,3228,2011-05-22,2011-07-24,EZET1,8757X,5.6,58.68,65.37,,1935,3042,F,0
8,2,65,10206,3228,2011-05-22,2011-08-21,EZET1,8757X,5.6,58.68,65.37,,1935,3042,F,0

In [ ]:
# Takes a long long time, will upload the result to github once done
sql = """select
    t2.Patient_ID,
    t2.'Store_ID',
    t2.'Prescriber_ID',
    t2.'Drug_ID',
    t2.'Prescription_Week',
    t2.'Dispense_Week',
    t2.'Drug_Code',
    t2.'NHS_Code',
    t2.'PatientPrice_Amt', 
    t2.'WholeSalePrice_Amt',
    t2.'GovernmentReclaim_Amt', 
    t2.'StreamlinedApproval_Code', 
    -- t2.'ChemistListPrice',
    p.year_of_birth,
    p.postcode,
    p.gender,
    exists(
        select 1
        where t2.Drug_ID IN (
            select c2.MasterProductID
            from ChronicIllness_LookUp c2
            where c2.ChronicIllness = 'Diabetes'
        )
    ) as is_diabetes_medication

from TRANSACTIONS t2
join patients p on t2.Patient_ID = p.Patient_ID
where t2.Patient_ID IN (
    select t.Patient_ID from TRANSACTIONS t
    where t.Drug_ID in (
        select c.MasterProductID
        from ChronicIllness_LookUp c
        where c.ChronicIllness = 'Diabetes'
    )
    group by t.Patient_ID -- Yeilds all patients that have ever taken db medi
);
"""

dfa = pd.read_sql_query(sql, conn)

In [ ]:
# This dataframe is all patients, likely wont finish for a while
dfa.head()